{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIT Results</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav>
<div class="container nav-wrapper">
    <a href="/" class="brand-logo">NITD results</a>
    <ul id="nav-mobile" class="right">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'search_by_rollno' %}">Search by Roll no.</a></li>
    </ul>
</div>
</nav>
<div class="container">
    <div class="center">
    <h2>It takes about 2 minutes to scrape data! ;_;</h2>
        <h6>Use search by roll no. if you don't want to wait</h6>
    </div>
    <form action="{% url 'search' %}" method="post">
    {% csrf_token %}



        <h3>Select branch</h3>

    <p>
      <label>
        <input name="branch" type="radio" value="cse" id="branch1" checked  />
        <span>CSE</span>
      </label>
    </p>
    <p>
      <label>
        <input name="branch" type="radio" id="branch2" value="ece" />
        <span>ECE</span>
      </label>
    </p>
    <p>
      <label>
        <input name="branch" type="radio" id="branch3" value="eee" />
        <span>EEE</span>
      </label>
    </p>


    <h3>Select year</h3>

    <p>
      <label>
        <input name="year" type="radio" checked value="1" id="year1"/>
        <span>1</span>
      </label>
    </p>
    <p>
      <label>
        <input name="year" type="radio" value="2" id="year2"/>
        <span>2</span>
      </label>
    </p>
    <p>
      <label>
        <input name="year" type="radio" value="3" id="year3"/>
        <span>3</span>
      </label>
    </p>
    <p>
      <label>
        <input name="year" type="radio" value="4" id="year4"/>
        <span>4</span>
      </label>
    </p>



        <h3>Select semester</h3>

    <p>
      <label>
        <input name="sem" type="radio" checked value="1" id="sem1"/>
        <span>1</span>
      </label>
    </p>
    <p>
      <label>
        <input name="sem" type="radio" value="2" id="sem2"/>
        <span>2</span>
      </label>
    </p>
    <p>
      <label>
        <input name="sem" type="radio" value="3" id="sem3"/>
        <span>3</span>
      </label>
    </p>
    <p>
      <label>
        <input name="sem" type="radio" value="4" id="sem4"/>
        <span>4</span>
      </label>
    </p>
    <p>
      <label>
        <input name="sem" type="radio" value="5" id="sem5"/>
        <span>5</span>
      </label>
    </p>
    <p>
      <label>
        <input name="sem" type="radio" value="6" id="sem6"/>
        <span>6</span>
      </label>
    </p>
    <p>
      <label>
        <input name="sem" type="radio" value="7" id="sem7"/>
        <span>7</span>
      </label>
    </p>
    <p>
      <label>
        <input name="sem" type="radio" value="8" id="sem8"/>
        <span>8</span>
      </label>
    </p>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        </button>
    </form>
<br>
    <br>
</div>
</body>
<footer class="page-footer">
          <div class="container">

          </div>
        </footer>
</html>